.miPerfil {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(238, 235, 175, 0.893);
    padding: 2%;
}


.cardProfile{
    border: 5px black solid;
    background-color: rgba(222, 222, 215, 0.628) ;
    width: auto;
    border-radius: 1%;
    padding: 2%;

    
}

.titleProfile{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    align-content:center;
    font-weight: 900;
    font-size: x-large;

}

.textProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPageLink {

    background-color: rgba(222, 222, 215, 0.628) ;
    border: 5px black solid;
    padding: 5%;
    width: auto;
    text-decoration: none;
    font-size: large;
    color: black;
    text-align: center;

}

