.detailRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2%;
    background-color: rgba(50, 155, 121, 0.662);
}

.detailCard {

    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 2%;
    align-items: center;
    width: auto;
    padding: 1%;
    background-color: rgb(213, 219, 224);

}

.checkButton:hover{
 background-color: rgb(7, 110, 33);
}

.title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.imgDetail {
    width: 300px;
    border: 2px black solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.description {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1%;
    font-size: large;
    font-weight: 500;

}