.logo {
    height: 250px;
    margin-bottom: 1%;
}


.navBarCollapseItems{

padding: 4%;
}

@media screen and (max-width: 650px) {
    .navBarContainer{
        display: flex;
        flex-direction: column;
        padding: 1%;
    
    }

}